<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retail.biocare">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeliveredOrdersActivity"></activity>
        <activity android:name=".BillingActivity" />
        <activity android:name=".Login_test" />
        <activity android:name=".TestinomialSaveActivity" />
        <activity android:name=".LoginTimingActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ManageBankActivity" />
        <activity android:name=".activity.ChangeTransactionPasswordActivity" />
        <activity android:name=".activity.AddReviewActivity" />
        <activity android:name=".activity.KYCDeatilsActivity" />
        <activity android:name=".activity.KYCApplicationActivity" />
        <activity android:name=".activity.KYCProcessingActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity android:name=".activity.AddressListActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ProfileDetailsActivity" />
        <activity
            android:name=".activity.UsedEpinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UnusedPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransferEpinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransferEpinReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuyEpinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.WithdrawFundActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.FundTransferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PendingWithdrawFundActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PaymentHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PayoutHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.ProductActivity" />
        <activity android:name=".activity.ItemDescriptionActivity" />
        <activity android:name=".activity.AllIncomeReportActivity" />
        <activity android:name=".activity.BinaryReportActivity" />
        <activity android:name=".activity.WithdrawListActivity" />
        <activity android:name=".activity.RewardReportActivity" />
        <activity android:name=".activity.FundTransferHistoryActivity" />
        <activity android:name=".activity.ViewCartActivity" />
        <activity android:name=".activity.CheckoutActivity" />
        <activity android:name=".activity.OrdersActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
    </application>

</manifest>